body {
    background-color: black;
}

#sec1 {
    padding: 20px;
}

#sec2 {
    display: inline-flex;
}

#saklar1 {
    padding: 20px;
}

#lampu1 {
    padding: 20px;
}

#saklar2 {
    padding: 20px;
}

#saklar3 {
    padding: 20px;
}

#saklar4 {
    padding: 20px;
}

#saklar-special1 {
    padding: 20px;
}

#saklar-special2 {
    padding: 20px;
}

#lampu2 {
    padding: 20px;
}

#lampu3 {
    padding: 20px;
}

#lampu4 {
    padding: 20px;
}

#lampu5 {
    padding: 20px;
}

#lampu6 {
    padding: 20px;
}

#lampu7 {
    padding: 20px;
}

#lampu8 {
    padding: 20px;
}
